body {
	font-family: belgrano;
	font-weight: normal;
	color: #fff;
	font-size: 15px;
	text-shadow: 3px 3px #000;
}
.sidebar div.commandButton {
	background-color: #4f0062;
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 10px;
	border-top: 2px solid #000c12;
	border-bottom: 2px solid #000c12;
	margin-right: -15px;
	border-left: 2px solid #000c12;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	cursor: pointer;
}
.sidebar div.commandHover {
	background-color: #73008d;
}
.sidebar div.active {
	background-color: #000c12;
	font-style: italic;
	border-top: 2px solid #481569;
	border-bottom: 2px solid #481569;
	border-right: none;
	border-left: 2px solid #481569;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
}
.content-frame {
	min-height: 300px;
	height: 300px;
	width: 100%;
	line-height: 300px;
}
.content {
	padding: 15px;
	line-height: normal;
	color: white;
	background-color: #000c12;
	font-size: 140px;
	text-align: center;
	vertical-align: center;
}
.nav-bar,
.nav-bar-left,
.nav-bar-right {
	font-family: belgrano;
	background-color: #2d123e;
	color: white;
	font-size: 15px;
	padding: 10px;
}
.nav-bar-top-right {
	padding-right: 15px;
	border-top-right-radius: 15px;
}
.nav-bar-top-left {
	padding-left: 15px;
	border-top-left-radius: 15px;
}
.nav-bar-bottom-right {
	padding-right: 15px;
	border-bottom-right-radius: 15px;
}
.nav-bar-bottom-left {
	padding-left: 15px;
	border-bottom-left-radius: 15px;
}
.nav-bar-left {
	text-align: left;
}
.nav-bar-right {
	text-align: right;
	padding-right: 15px;
}
.nav-bar a {
	color: white;
	text-decoration: none;
	cursor: pointer;
}
.nav-bar a:hover {
	color: yellow;
}
.accent {
	color: #2e90d9;
}
.ampm {
	color: #838383;
	font-size: 70px;
	margin:0;
	padding:0;
	padding-left: 15px;

}
.bg-white {
	background-color: #222;
	border-right: 3px solid #2d123e;
	border-left: 3px solid #2d123e;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}
.graph-cointainer {
	font-family: belgrano;
	line-height: normal;
	font-size: 15px;
	font-weight: bolder;
	width: 100%;
	text-align: left;
	vertical-align: middle;
	padding-top: 20px;
}
.graph-purple,
.graph-red,
.graph-green,
.graph-yellow {
	color: #FFF;
	text-shadow: 1px 1px #000;
	padding: 15px;
	margin-top: 5px;
	margin-bottom: 10px;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	border-top: 1px solid white;
	border-bottom: 1px solid black;
	border-right 1px solid black;
	border-left: none;
}
.graph-purple {
	background: -webkit-linear-gradient(45deg, rgba(221, 237, 0, 0.75) 1%, rgb(39, 119, 0) 100%);
	background: linear-gradient(45deg, rgba(221, 237, 0, 0.75) 1%, rgb(39, 119, 0) 100%);
}
.graph-red {
	background: -webkit-linear-gradient(45deg, #277700 0%, #00b7ef 100%);
	background: linear-gradient(45deg, #277700 0%, #00b7ef 100%);
}
.graph-green {
	background: -webkit-linear-gradient(45deg, #00b7ef 0%, #70007F 100%);
	background: linear-gradient(45deg, #00b7ef 0%, #70007F 100%);
}
.graph-yellow {
	background: -webkit-linear-gradient(45deg, #70007F 0%, #bc7b00 100%);
	background: linear-gradient(45deg, #70007F 0%, #bc7b00 100%);
}
