.sidebar div.commandButton {
	font-family: chewy;
	margin-top: 5px;
	margin-left: 10px;
	margin-right: -30px;
	background-color: #101f27;
	color: #fff;
	padding: 15px;
	font-size: 20px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	cursor: pointer;
	border-top: 1px solid white;
	border-bottom: 1px solid black;
	border-right: none;
	border-left: 1px solid white;
}
.sidebar div.commandHover {
	background-color: #333;
}
.sidebar div.active {
	background-color: #113d55;
}
.content {
	font-family: arial;
	margin: 0px;
	padding: 0px;
	color: white;
	background-color: #113d55;
	min-height: 290px;
	height: 290px;
	font-size: 200px;
	vertical-align: middle;
	text-align: center;
	line-height: 290px;
	display: block;
}
.logo,
.logo a {
	padding-left: 15px;
}
.nav-bar,
.nav-bar-left,
.nav-bar-right {
	color: white;
	font-family: verdana;
	font-size: 15px;
	background-color: #25283b;
	padding: 10px;
}
.nav-bar-top-right {
	border-top-right-radius: 15px;
}
.nav-bar-top-left {
	border-top-left-radius: 15px;
}
.nav-bar-bottom-right {
	border-bottom-right-radius: 15px;
}
.nav-bar-bottom-left {
	border-bottom-left-radius: 15px;
}
.nav-bar-left {
	text-align: left;
}
.nav-bar-right {
	text-align: right;
	padding-right: 15px;
}
.nav-bar a {
	color: white;
	text-decoration: none;
	//margin-left: 5px;
	cursor: pointer;
}
.nav-bar a:hover {
	color: yellow;
	//margin-left: 5px;
}
.accent {
	color: #2e90d9;
}
.ampm {
	margin-left:15px;font-size: 70px;
	color: #838383;
}
.bg-white {
	background-color: #676767;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}
.graph-cointainer {
	line-height: normal;
	font-size: 25px;
	width: 100%;
	height: 280px;
	text-align: center;
}
.graph-cointainer table > tr {
	background-color: #333;
}
.graph-purple,
.graph-red,
.graph-green {
	text-align: left;
	color: #FFF;
	font-family: arial;
	font-weight:bolder;
	padding: 22px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	text-shadow: 2px 2px #000;
	border-top: 1px solid white;
	border-bottom: 1px solid black;
	border-right 1px solid black;
	border-left: none;
}

.graph-purple {
	background: -webkit-linear-gradient(45deg, #dded00 1%, #277700 100%);
	background: linear-gradient(45deg, #dded00 1%, #277700 100%);
}
.graph-red {
	background: -webkit-linear-gradient(45deg, #277700 0%, #00b7ef 100%);
	background: linear-gradient(45deg, #277700 0%, #00b7ef 100%);
}

.graph-green {
	background: -webkit-linear-gradient(45deg, #00b7ef 0%, #70007F 100%);
	background: linear-gradient(45deg, #00b7ef 0%, #70007F 100%);
}